<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Syntax</title>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div >Hove for rand number</div>
        <div v-if="shown">{{ secret }}</div>
        <ul> <li v-for="color of colors"> {{ color }} </li> </ul>
        <button class="vue-btn" v-on:click="">See the nr</button>
    </div>
</body>
</html>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            text: 'Hello, world!',
            secret: Math.floor(Math.random() * 50),
            shown: false,
            colors: ['red', 'green', 'blue', 'yellow', 'orange'],
        },
        methods: {
            reveal() { this.shown = true },
        },
    });
</script>
